APP_NAME=EduPulse
APP_ENV=development
DEBUG=true
API_V1_PREFIX=/api/v1
DATABASE_URL=sqlite:///./edupulse.db
# Example MySQL URL:
# DATABASE_URL=mysql+pymysql://user:password@localhost:3306/edupulse
REDIS_URL=redis://localhost:6379/0
JWT_SECRET_KEY=replace-with-a-long-random-production-secret
JWT_ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=30
CORS_ORIGINS=["*"]
